<div class="container ">

  <div class="first-column">
    <div class="box">
      <button mat-button (click)="openDialog()">(Click to add)</button>
    </div>

    <div class="box">
      <button mat-button (click)="openDialog()">(Click to add)</button>
    </div>

    <div class="box">
      <button mat-button (click)="openDialog()">(Click to add)</button>
    </div>

    <div class="box">
      <button mat-button (click)="openDialog()">(Click to add)</button>
    </div>

    <div class="box">
      <button mat-button (click)="openDialog()">(Click to add)</button>
    </div>
  </div>

  <div class="action-button">
    <button mat-button (click)="simMatch()"> Predict match </button>
  </div>

  <div class="last-column">
    <div class="box">
      <button mat-button (click)="openDialog()">(Click to add)</button>
    </div>

    <div class="box">
      <button mat-button (click)="openDialog()">(Click to add)</button>
    </div>

    <div class="box">
      <button mat-button (click)="openDialog()">(Click to add)</button>
    </div>

    <div class="box">
      <button mat-button (click)="openDialog()">(Click to add)</button>
    </div>

    <div class="box">
      <button mat-button (click)="openDialog()">(Click to add)</button>
    </div>
  </div>

</div>
